<div ng-include="'/views/navbar.ejs'"> </div>

<div class='container'>
  <div class='col-md-12'>
    <h1 class='text-center'>{{contest.title}}</h1>
    <br />
  </div>
  <div class='col-md-12'>
    <div class="active progress progress-striped">
      <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{(currentTime - contest.startTime) / (contest.endTime - contest.startTime) * 100}}%;">
        <span ng-show="currentTime < contest.endTime">{{getDuration(currentTime - contest.startTime)}}</span>
      </div>
    </div>
  </div>
  <br />

  <div class='col-sm-12'>
    <uib-tabset active="activeTab">
      <uib-tab heading='Overview'>
        <br />
        <div class='col-sm-12'>
          <label>Current Time:</label> {{currentTime | date: 'yyyy-MM-dd HH:mm:ss'}}
        </div>
        <div class='col-sm-12'>
          <label>Start Time:</label> {{contest.startTime | date: 'yyyy-MM-dd HH:mm:ss'}}
        </div>
        <div class='col-sm-12'>
          <label>End Time:</label> {{contest.endTime | date: 'yyyy-MM-dd HH:mm:ss'}}
        </div>
        <div class='col-sm-12'>
          <label>Status:</label>
          <span class='text-success' ng-show='contest.status == 0'>Pending</span>
          <span class='text-danger' ng-show='contest.status == 1'>Running</span>
          <span class='text-muted' ng-show='contest.status == 2'>Finished</span>
        </div>
        <table class='table' ng-show="contest.isStart">
          <thead>
            <th></th>
            <th></th>
            <th>Title</th>
            <th></th>
          </thead>
          <tbody>
            <tr ng-repeat='problem in contest.problems'>
              <th class='text-right'>
                <i style="color: #AA0000" class="glyphicon glyphicon-remove" ng-show="problemstatus == 2"></i></th>
                <i ng-show="problem.status == 1" class="glyphicon glyphicon-ok" style="color: green;"></i>
              </th>
              <th >{{problem.charId}}</th>
              <th><a href="javascript:void(0);" ng-click="chooseProblem(problem.charId)">{{problem.title}}</a></th>
              <th ng-show='problem.submited'>{{problem.solved}}/{{problem.submited}}</th>
            </tr>
          </tbody>
        </table>
      </uib-tab>
      <uib-tab heading='Problems' ng-show="contest.isStart">
        <div class='col-md-12'>
          <div class='text-center'>
            <ul class="pagination">
              <li ng-repeat="problem in contest.problems" ng-class="{active : activeProblem.charId == problem.charId}">
                <a href="javascript:void(0);" ng-click="chooseProblem(problem.charId)">
                  {{problem.charId}}
                </a>
              </li>
            </ul>
          </div>
          <h1 class='text-center'>{{activeProblem.title}}</h1>
          <h4 class='text-center'>Time Limit:{{activeProblem.timeLimit * 1000}} MS Memory Limit: {{activeProblem.memLimit}} MB</h4>
          <br />
          <div class='text-center'>
            <button type='button' class='btn btn-default' ng-click='open()'>Submit</button>
            <button type='button' class='btn btn-default' ng-click='goToStatusList()'>Status</button>
          </div>
          <h2>Description</h2>
          <div class='col-md-12' ng-bind-html='activeProblem.description'></div>

          <h2>Input</h2>
          <div class='col-md-12' ng-bind-html='activeProblem.input'></div>

          <h2>Output</h2>
          <div class='col-md-12' ng-bind-html='activeProblem.output'></div>

          <h2>Sample Input</h2>
          <pre ng-bind-html="activeProblem.sampleInput"></pre>

          <h2>Sample Output</h2>
          <pre ng-bind-html="activeProblem.sampleOutput"></pre>

        </div>

      </uib-tab>
      <uib-tab heading='Status' ng-show="contest.isStart">
        <div ng-include="'/views/pagination.ejs'"></div>

        <div class='container'>
          <table class='table'>
            <thead>
              <th class='col-md-1'>Problem</th>
              <th class='col-md-2'>Result</th>
              <th class='col-md-2'>Memory</th>
              <th class='col-md-2'>Time</th>
              <th class='col-md-2'>Length</th>
              <th class='col-md-3'>Submit Time</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <select style="height: 26px;" class="form-control" ng-model="status.problemId" ng-option="problem.problemId as {{problem.charId}} for problem in contest.problems"
                  >
                    <option value="-1">All</option>
                    <option value="problem.problemId" ng-repeat="problem in contest.problems">{{problem.charId}}</option>
                  </select>
                </td>

                <td><input type='text' ng-model='query.problemId' ng-change='getItems()'></td>
                <td><input type='text' ng-model='query.result' ng-change='getItems()'></td>
              </tr>
              <tr ng-repeat='solution in solutions'>
                <td>{{solution.solutionId}}</td>
                <td><a href="#">{{ solution.username }}</a></td>
                <td><a href="/#/problem/show/{{ solution.problemId }}">{{ solution.problemId }}</a></td>
                <td>{{ solution.resultText }}</td>
                <td><span ng-show="solution.result > 3">{{ solution.memory }} KB</span></td>
                <td><span ng-show="solution.result > 3">{{ solution.time }} MS</span></td>
                <td>
                  <a href="javascript:void(0);" ng-show='solution.username == username' ng-click='showCode(solution.solutionId)'>{{ solution.codeLength }} B</a>
                  <span ng-hide='solution.username == username'>{{solution.codeLength}} B</span>
                </td>
                <td>{{ solution.submitTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
              </tr>
            </tbody>
          </table>

          <script type="text/ng-template" id="codeModal.html">
          <div class="modal-body">
          <pre>{{srcCode}}</pre>
          </div>
          </script>

        </div>
      </uib-tab>
      <uib-tab heading='Rank' ng-show="contest.isStart">
      </uib-tab>
    </uib-tabset>
  </div>
</div>

<script type="text/ng-template" id="submitModal.html">
  <div class="modal-header">
    <h3 class="modal-title">{{problem.charId}} - {{problem.title}}</h3>
  </div>
  <div class="modal-body">
    <textarea ng-model='srcCode'></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()" ng-disabled='isSubmitting'>Submit</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
