<!DOCTYPE html>

<html ng-app='OJApp'>
<head>
  <meta charset="utf-8">
  <title>OJ</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/angular/angular.min.js"></script>
  <script src="http://cdn.bootcss.com/angular-sanitize/1.5.0/angular-sanitize.min.js"></script>
  <script src="/angular-route/angular-route.min.js"></script>
  <!-- <script src="http://cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script> -->
  <!-- <script src="http://cdn.bootcss.com/angular.js/1.5.0/angular-route.min.js"></script> -->
  <script src="http://cdn.bootcss.com/angular-ui-bootstrap/1.2.1/ui-bootstrap.min.js"></script>
  <script src="http://cdn.bootcss.com/angular-ui-bootstrap/1.2.1/ui-bootstrap-tpls.min.js"></script>
  <script src="http://cdn.bootcss.com/lodash.js/4.6.1/lodash.min.js"></script>
  <script src="http://cdn.bootcss.com/URI.js/1.17.1/URI.min.js"></script>
<script src="http://cdn.bootcss.com/danialfarid-angular-file-upload/12.0.1/ng-file-upload.min.js"></script>
<script src="http://cdn.bootcss.com/danialfarid-angular-file-upload/12.0.1/ng-file-upload-shim.min.js"></script>
  <script src="bower_components/angular-load/angular-load.js"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)'], ['$$','$$']],
        skipTags: []
      }
    });
  </script>
  <script type="text/javascript" async
    src="http://cdn.bootcss.com/mathjax/2.6.1/MathJax.js?config=TeX-AMS_CHTML">
  </script>


  <script src='/javascript/app.js'></script>
  <script src='/javascript/controller.js'></script>
  <script src='/javascript/directive.js'></script>

  <style>
    body {
      padding: 90px;
    }
  </style>
</head>
<body>

  <div class='container'>
    <div ng-view></div>
  </div>
</body>
</html>
