<div class='container-fluid'>
  <div class='container'>
    <h2 class='form-signin-heading'>用户登录</h2>
    <div class='alert alert-danger' ng-show='isLoginError'>{{loginError}}</div>

    <label for='username' class='sr-only' >用户名</label>
    <input type='text' ng-model='username' class='form-control' placeholder='用户名' required autofocus>

    <label for='password' class='sr-only' >密码</label>
    <input type='password' ng-model='password' class='form-control' placeholder='密码' required />

    <button class='btn btn-lg btn-primary btn-block' ng-disabled='isSubmitting'>登录</button>
    <div>
      还没注册？
      <a href='/signup'>注册</a>
    </div>
  </div>
</div>
