<div ng-controller='paginationCtrl'>
  <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="10" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
</div>
