
<div ng-include="'/views/navbar.ejs'"> </div>

<div ng-include="'/views/pagination.ejs'"></div>

<table class='table'>
  <thead>
    <th class='col-sm-1'>ID</th>
    <th class='col-sm-11'>Title</th>
  </thead>
  <tbody>
    <tr ng-repeat="problem in problems"
    ng-class="{'success': problem.status == 1, 'danger': problem.status == 2 }">
      <td class='col-sm-1'>{{problem.problemId}}</td>
      <td class='col-sm-11'><a href="/#/problem/show/{{problem.problemId}}">{{problem.title}}</td>
    </tr>
</tbody>
</table>
