

<div ng-include="'/views/pagination.ejs'"></div>

<table class='table table-striped table-bordered'>
  <thead>
    <th class='col-md-1'>ID</th>
    <th>Title</th>
  </thead>
  <tbody>
    <tr ng-repeat="problem in problems"
    ng-class="{'success': problem.status == 1, 'danger': problem.status == 2 }">
    <td>{{problem.problemId}}</td>
    <td><a href="/#/problem/show/{{problem.problemId}}">{{problem.title}}</td>
  </tr>
</tbody>
</table>
