<div ng-include="'/views/navbar.ejs'"> </div>

<div ng-include="'/views/pagination.ejs'"></div>

<div class='container'>
  <table class='table'>
    <thead>
      <th>#</th>
      <th>User</th>
      <th>Problem</th>
      <th>Result</th>
      <th>Memory</th>
      <th>Time</th>
      <th>Length</th>
      <th>Submit Time</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><input type='text' ng-model='query.username' ng-change='getItems()'></td>
        <td><input type='text' ng-model='query.problemId' ng-change='getItems()'></td>
        <td><input type='text' ng-model='query.result' ng-change='getItems()'></td>
      </tr>
      <tr ng-repeat='solution in solutions'>
        <td>{{solution.solutionId}}</td>
        <td><a href="#">{{ solution.username }}</a></td>
        <td><a href="/#/problem/show/{{ solution.problemId }}">{{ solution.problemId }}</a></td>
        <td>{{ solution.resultText }}</td>
        <td><span ng-show="solution.result > 3">{{ solution.memory }} KB</span></td>
        <td><span ng-show="solution.result > 3">{{ solution.time }} MS</span></td>
        <td>
          <a href="javascript:void(0);" ng-show='solution.username == username' ng-click='showCode(solution.solutionId)'>{{ solution.codeLength }} B</a>
          <span ng-hide='solution.username == username'>{{solution.codeLength}} B</span>
        </td>
        <td>{{ solution.submitTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>
    </tbody>
  </table>

  <script type="text/ng-template" id="codeModal.html">
      <div class="modal-body">
        <pre>{{srcCode}}</pre>
      </div>
  </script>

</div>
